.container {
    @include container(1200px, 80px 20px);
    @include flex(row, 40px);
    display: flex;
    height: 100vh;
    gap: 40px;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    h1 {
        margin-bottom: 40px;
        font-size: 2em;
        color: $color-gold;
        text-shadow: 1px 1px 4px #000;
    }
    .menuBtn {
        @include button-base;
        @include flex();
        font-size: 2em;
        font-weight: bold;
        width: 72%;
        height: 150px;
        background: $color-btn;

        &:hover {
            background: $color-btn-hover;
            transform: scale(1.05);
        }
    }
}

.store-entrance {
    @include flex(column, 1rem, center, stretch);

    .close-btn {
        position: absolute;
        top: 1rem;
        right: 1rem;
        width: 14px;
        height: 14px;
        border-radius: 30px;
        padding: 1rem;
        border-color: $color-border;
    }
}
