.container {
  @include container(1200px, 80px 20px);
  @include flex(row, 40px);
  display: flex;
  height: 100vh;
  gap: 40px;
  justify-content: center;
  align-items: center;

  h1 {
    margin-bottom: 40px;
    font-size: 2em;
    color: $color-gold;
    text-shadow: 1px 1px 4px #000;
  }
  .menuBtn {
    @include button-base;
    @include flex();
    font-size: 2.2em;
    font-weight: bold;
    width: 500px;
    height: 500px;
    background: $color-btn;

    &:hover {
      background: $color-btn-hover;
      transform: scale(1.05);
    }
  }
}
